{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
        .video-container {
            margin-bottom: 1.5rem;
            /* Add some spacing between videos */
        }

        /* Optional: Limit max size to keep videos medium-sized */
        .video-container {
            max-width: 720px;
            /* Adjust this to control size */
            margin: auto;
            /* Center videos horizontally */
        }

        #previewContainer {
            display: none;
            margin-top: 1rem;
        }
    </style>
</head>

<body>

    <div class="container p-3 mb-2 bg-secondary text-dark"> {% include 'header.html' %}
        <section class="py-5 border-bottom" id="upload">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group"><label for="formFile" class="form-label">Upload video to
                        Process</label>
                    <input class="form-control" type="file" id="fileInput" name="video" accept="video/*" required />
                </div>
                <div class="form-group"><label class="form-label">Caption : </label>
                    <input type="text" class="form-control" id="features" name="caption"
                        placeholder="Enter the caption you want for the video" required />
                </div>
                <div class="form-group"><label class="form-label">Description : </label>
                    <input type="text" class="form-control" id="features" name="description"
                        placeholder="Enter the description you want for the video" />
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
            <div class="col-md-6 video-container" id="previewContainer">
                <div class="ratio ratio-16x9">
                    <video id="previewElement" class="w-100 h-100" controls></video> <br>
                </div>
            </div>

        </section>

        {% if videos != None %}
        <section class="py-5 border-bottom" id="all_videos">
            <h2 style="text-align: center; color: darkgray"> Videos uploaded from you </h2>
            {% for vid in videos %}
            <div>
                <h3 style="text-align: center; color: darkblue;"> {{ vid.caption}} {{ forloop.counter }} </h3>
            </div>
            <div class="col-md-6 video-container ratio ratio-16x9">
                <video id="showVideo" class="w-100 h-100" controls>
                    <source id="videoSource" src="{{ vid.video.url }}" type="video/mp4">
                </video> <br>
            </div>
            {% endfor %}
        </section>
        {% else %}
        <section class="py-5 border-bottom" id="features">
            Ahio, No videos are uploaded right now!!
        </section>
        {% endif %}
    </div>

    <!-- 
    <section class="bg-light py-5">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
-->
    {% include 'footer.html' %}
    </div>
</body>
<script>
    const fileInput = document.getElementById('fileInput');
    const previewContainer = document.getElementById('previewContainer');
    const previewElement = document.getElementById('previewElement');

    fileInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file && file.type.startsWith('video/')) {
            // If the file is a valid video, generate a URL and set it as the source
            const videoURL = URL.createObjectURL(file);
            previewElement.src = videoURL;
            previewElement.load(); // Reload to reflect the new source

            previewContainer.style.display = 'block';
        } else {
            // If the file is not a video, display an alert and clear the preview
            alert('Unsupported file type! Please upload a valid video.');
            previewElement.src = ''; // Clear the video source
            previewContainer.style.display = 'none'; // Hide the preview container
        }
    });
</script>

<script>
    // JavaScript to handle video preview
    const videoInput = document.getElementById('videoInput');
    const showVideo = document.getElementById('showVideo');

    videoInput.addEventListener('change', function (event) {
        const file = event.target.files[0];  // Get the selected file
        if (file) {
            const videoURL = URL.createObjectURL(file);  // Create a blob URL
            showVideo.src = videoURL;  // Set the video source
            showVideo.load();  // Reload the video
        }
    });
</script>

</html>